* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window .modules-left {
	background-color:#202024;
	padding: 5px 10px;
	border-radius:20px;
}

window .modules-center {
	background-color: #202024;
	padding: 5px 10px;
	border-radius: 20px;
}

window .modules-right {
	background-color: #202024;
	padding: 5px 10px;
	border-radius: 20px;
}


window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
    margin-top: 10px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    border: 2px solid transparent;
    border-radius: 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -2px transparent;
}

#desktop, #power, #workspaces, #network, #hyprlandWindow, #media, #system, #custom-notification, #time {
	border-radius:10px;
}

/* you can set a style on hover for any module like this */
#media {
}

#network {
	color: #6ABCFD;
}

#power {
	padding: 0 2px;
}

#power * {
	font-size: 15px;
}

#custom-lock,
#custom-logout,
#custom-hibernate {
	margin-right: 5px;
}

#custom-lock {
	color: rgba(52, 145, 228, 1);
	margin-right: 5px;
}

#custom-logout {
	color: antiquewhite;
	margin-right: 5px;
}

#custom-suspend {
	color: #B286B3;
	margin-right: 0px;
}

#custom-hibernate {
	color: rgba(254, 172, 0, 1);
	margin-right: 5px;
	margin-left: 5px;
}

#custom-shutdown {
	color: rgba(188, 0, 63, 1);
	color: #F70025;
	font-weight: 700;
}

#custom-reboot {
	color: rgba(80, 152, 74, 1);
	margin-left: 5px;
}

#custom-logout, #custom-lock, #custom-suspend, #custom-hibernate, #custom-reboot, #custom-shutdown {
	min-width: 25px;
}

#time {
	padding: 0 5px;
}

#custom-notification {

}

#desktop {
	padding:0 0px 0 0px;
}

#custom-logo {
	font-size:25px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	color: #1793D1;
	padding: 2px 15px 2px 10px;
	transition-duration: 0.5s;
}

#custom-logo:hover {
	color:#6ABCFD;
	transition-duration: 0.5s;
}

#power {
	padding-right: 10px;
}

#workspaces {
	border-radius: 10px;
	transition-duration: 0.5s;
}

#workspaces button {
    padding: 0 5px;
    /*background-color: transparent;*/
    font-weight: 600;
}

#workspaces button:hover {
    background-color: rgba(52, 145, 228, 0.6);
    color: white;
    border: 2px solid transparent;
}

#workspaces button.focused {
    /*background-color: #64727D;*/
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background-color: rgba(52, 145, 228, 1);
    background-color: transparent;
    color: white;
    border: 2px solid #FBB7AA;
    border-left-color: transparent;
    border-right-color: transparent;
    font-weight: 600;
    border-radius: 5px;
    transition-property: border;
    transition-duration: 0.5s;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#hyprlandWindow {
	font-weight: bold;
	font-size: 20px;
	padding: 0 15px;
	padding-right: 0px;
	margin: 0 15px;
}

#bluetooth {
   color: #667EFC; 
}

#hardware *{
}

#window {
	/*padding-left: 20px;*/
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
}

#waybar.empty #hyprlandWindow{
	padding:0;
}

#waybar.empty #window {
	opacity:0.4;
	padding:0;
}

#waybar.empty #windowcount{
	padding:0;
	padding-right:10px
}

#windowcount {
	font-size: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

#waybar.fullscreen #windowcount{
	background-color: rgba(52, 145, 228, 1);
    	color:white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition-duration: 0.5s;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    color: black;
    font-weight: 600;
}
#custom-clock {
	font-weight: 600;
}

#cpu {
	color: rgba(231, 110, 10, 1);
	color:rgba(231, 110, 10, 1);
	border-radius: 10px;
}

#memory {
	color:#AF69EF;
	border-radius: 10px;
}

#battery {
	background-color: red;
	color: white;
	border-radius:10px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: #ffffff;
	color:#f53c3c;
    }
}
#battery.full {
	background:#71BD9A;
	color:green;
	transition-property: background;
	transition-duration: 0.5s;
}

#battery.very-good {
	background: #6A7543;
	color: #71BD9A;
	transition-property: background;
	transition-duration: 0.5s;

}

#battery.above-average {
	background: #F1A45D;
	color: #D15837;
	transition-property: background;
	transition-duration: 0.5s;
}

#battery.low {
	background: #D15837;
	color: #F1A45D;
	transition-property: background;
	transition-duration: 0.5s;
}

#temperature.critical {}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging),
#battery.almost-empty:not(.charging),
#battery.empty:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profiles-daemon {
	padding-right: 15px;
}

#power-profiles-daemon.performance {
	background-color: #f53c3c;
	color: #ffffff;
}

#power-profiles-daemon.balanced {
	background-color: #2980b9;
	color: #ffffff;
}

#power-profiles-daemon.power-saver {
	background-color: #2ecc71;
	color: #000000;
}

label:focus {
	background-color: #000000;
}

#pulseaudio-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-height: 10px;
	min-width: 80px;
	border-radius: 5px;
	background-color: black;
}

#pulseaudio-slider highlight {
	min-width: 10px;
	border-radius: 5px;
	background-color: green;
}

#disk {
    color: #DAB79D;
}

#backlight {
    background-color: #90b1b1;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    color: #FFBB67;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color: #96CEF8;
    border-radius: 10px;
}

#temperature.critical {
    background-color: #eb4d4b;
    color: #ffffff;
    animation-name:blink;
    animation-duration:0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
